<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <link rel="stylesheet" href="/styles/resource.css">
    <link rel="stylesheet" href="/styles/records.css">
</head>
<body>
    <div class="records-container">
        <ul>
            <li>
                <div class="record">
                    <h2>Toilet Paper</h2>
                    <p>
                        Quantity:
                        <span class="quantiy">
                            10
                        </span>
                    </p>
                    <p>
                        Origin:
                        <span class="origin">
                            Manila
                        </span>
                    </p>
                    <p>
                        Destination:
                        <span class="destination">
                            Cebu
                        </span>
                    </p>
                    <p>
                        Status:
                        <span class="status">
                            In Process
                        </span>
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <%- include('partials/navbar.ejs') %>
</body>
</html>
