<link rel="stylesheet" href="/styles/notifications.css">
<div class="top-right">
    <div class="check" style="display: none;">
        <i data-feather="check-circle" class="icon"></i>
        &nbsp; &nbsp;
        <span>Transfer Created!</span>
    </div>

    <div class="warning" style="display: none;">
        <i data-feather="alert-triangle" class="icon rotate"></i>
        &nbsp; &nbsp;
        <span>Please fill out all the fields</span>
    </div>

    <div class="danger" style="display: none;">
        <i data-feather="x-circle" class="icon shine"></i>
        &nbsp; &nbsp;
        <span>Please verify your input</span>
    </div>
</div>
