:root {
    --border-width: 7px;
}

.sec-loading {
    background-color: var(--primary-bg);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it appears above other content */
}

.sec-loading .one {
    height: 80px;
    width: 80px;
    border: var(--border-width) solid var(--accent-color);
    transform: rotate(45deg);
    border-radius: 0 50% 50% 50%;
    position: relative;
    animation: move 0.5s linear infinite alternate-reverse;
}

.sec-loading .one::before {
    content: "";
    position: absolute;
    height: 55%;
    width: 55%;
    border-radius: 50%;
    border: var(--border-width) solid transparent;
    border-top-color: var(--accent-color);
    border-bottom-color: var(--accent-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes move {
    to {
        transform: translateY(15px) rotate(45deg);
    }
}
